perplexity-correlations
filelock==3.16.1
PyYAML==6.0.2
pandas==2.2.3
transformers==4.44.0
datasets==3.0.1
argparse==1.4.0
fasttext==0.9.3
lm-eval==0.4.4
einops==0.8.0
tiktoken==0.7.0
blobfile==3.0.0
protobuf==5.28.2
sentencepiece==0.2.0
transformers_stream_generator==0.0.5
flash-attn==2.6.3
scikit-learn==1.5.2
huggingface-hub==0.25.1
numpy==1.26.4
